[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-editor
Exec=/usr/bin/harbour-editor
Name=TextEditor
Name[ru]=Текстовый редактор

[X-Application]
Permissions=Documents
OrganizationName=ru.mastercond
ApplicationName=texteditor
